<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <label> Name :<input type="text" name="text"></label><br>
    <label> File :<input type="file" name="file"></label><br>
    <input type="submit" value="Upload">
</form>
</body>
</html>